/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Body */

body {
  background: #f9fafb;
  color: #222;
  line-height: 1.6;
}

/* Header */

header {
  background: linear-gradient(to right, #2563eb, #1e40af);
  color: white;
  text-align: center;
  padding: 80px 20px;
}

header h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

header p {
  font-size: 20px;
  margin-bottom: 25px;
}

/* Button */

.btn {
  background: #facc15;
  color: #000;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 25px;
  display: inline-block;
}

.btn:hover {
  background: #eab308;
}

/* Sections */

section {
  max-width: 1000px;
  margin: auto;
  padding: 60px 20px;
}

section h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #1e40af;
  font-size: 32px;
}

/* About */

.about p {
  text-align: center;
  font-size: 18px;
  max-width: 800px;
  margin: auto;
}

/* Courses */

.course-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.course {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.course h3 {
  margin-bottom: 10px;
  color: #2563eb;
}

/* Why */

.why ul {
  max-width: 600px;
  margin: auto;
  list-style: none;
}

.why li {
  background: #e0e7ff;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 16px;
}

/* Contact */

.contact {
  text-align: center;
  background: #1e40af;
  color: white;
  border-radius: 12px;
}

.contact p {
  margin: 8px 0;
}

/* Footer */

footer {
  background: #020617;
  color: #cbd5f5;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}
